body {
   display: block;
   padding: 0;
   margin: 0;
}
.card{
width: 250px;
height: 300px;
border: 1px solid #444;
display: flex;
align-items: center;
flex-direction: column;
margin: 8px;
padding: 12px;
}
.nav {
   width: 100%;
   padding: 8px;
   position: sticky;
   top: 0;
   background-color: #57aeaa;
   display: flex;
   .app-title {
      width: 50%;
      color: #ffffff;
      font-size: 24px;
      padding-left: 24px;
   }
   .nav-items {
      width: 50%;
      padding-right: 24px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
   .cart-button{
      margin-left: 4px;
   }
   .item-count {
      color: #e64f09;
   }
}
.wishlist-container {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}
.wishlist {
   display: flex;
   align-items: center;
   color: white;
   font-size: 20px;
   height: 32px;
}
.red {
   color: red;
  
}
.white {
   color: white;
   
}
.title {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 200px;
}

.container {
   padding: 24px;
   display: flex;
   flex-wrap: wrap;
}
 .cart {
   background-color: yellow;
   margin: 4px;
 }
 .buy {
   background-color: red;
   margin: 4px;
 }
